@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Gruppo&display=swap');
html {
background: #000;
}
body {
  color: #fff;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
}
p {
  font-family: 'Gruppo', cursive;
}
header {
  margin-top:40px;
  text-align: center;
}
.ocean {
  color: #000 !important;
}
